.mainSection {
  width: 100%; // adjust as needed

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/images/HomePage1.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }
}

@media (min-width: 1024px) {
  .mainSection {
    &::before {
      display: none;
    }
  }
}
